@charset "UTF-8";

/*
    EM HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgba(91, 128, 91, 0.589);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(40, 82, 40);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(146, 146, 146);
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red
}

.destaque {
    background-color: rgba(77, 77, 63, 0.575);
}